@import "../../../../theme-variables.css";

.card-action{
    margin-top: 20px;
    cursor: pointer;
    color: var(--text-color);
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}